/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.site-content {
	@include flex-items-content;
	flex-direction: column;
	position: relative;

	.main-content {
		@include flex-items-content(flex-start, space-between);
		@include site-width;

		.content-area {
			position: relative;
			margin-right: $base__space-unit*2;
			flex: 0 1 75%;
			&::after {
				position: absolute;
				right: $base__space-unit*-2; top: 0;
				width: 1px;
				height: 100%;
				content: '';
				border-right: $border__solid;
			}
		}

		.widget-area {
			height: 100%;
			margin-left: $base__space-unit*2;
		}
	}		
}

.hentry {
	margin: $base__space-unit*2  0 $base__space-unit*3 0;

	.entry-header {
		position: relative;
		font-family: $font__header;
		text-transform: uppercase;

		.blog & {
			.entry-title, .entry-meta {
				position: absolute;
				background-color: $color__text-screen;
				color: white;
			}
			.entry-title {
				max-width: 36rem;
				padding: 0.75rem 2rem;
				top: 1rem; left: 0;
				font-size: 2rem;
				letter-spacing: 2px;
				a {
					text-decoration: none;
				}
			}
			.entry-meta {
				min-width: 25rem;
				padding: 0.25rem 1.5rem;
				bottom: 0; right: 0;
				text-align: center;
			}
		}
		
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.post-title {
	text-align: center;
	text-transform: uppercase;
	font-family: $font__header;
}
.post-container {
	@include flex-items-content(center, space-between);
}