/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.site-content {
	@include flex-items-content;
	flex-direction: column;
	position: relative;

	.main-content {
		@include flex-items-content(flex-start, space-between);
		@include site-width;

		&.full-width {
			@include flex-items-content();
			flex-direction: column;
			width: 100%;
			.full-width-image {
				@include flex-items-content();
			}
			.content-area {
				margin: 0;
				flex: 0 1 auto;
				width: $blog__width;
				&::after {
					display: none;
				}
			}
		}

		.content-area {
			position: relative;
			margin-right: $base__space-unit*2;
			flex: 0 1 75%;
			&::after {
				position: absolute;
				right: $base__space-unit*-2; top: 0;
				width: 1px;
				height: 100%;
				content: '';
				border-right: $border__solid;
			}
		}

		.widget-area {
			height: 100%;
			margin-left: $base__space-unit*2;
		}
	}		
}

.hentry {
	margin: $base__space-unit*2  0 $base__space-unit*3 0;
	&:last-child {
		margin-bottom: 0;
	}

	.entry-header {
		position: relative;

		.blog & {
			.entry-title, .entry-meta {
				position: absolute;
				background-color: $color__text-screen;
				color: white;
			}
			.entry-title {
				max-width: 36rem;
				padding: 0.75rem 2rem;
				top: 1rem; left: 0;
				font-size: 2rem;
				letter-spacing: 2px;
				a {
					color: white;
					text-decoration: none;
					&:hover, &:focus, &:active {
						color: $color__header-hover;
					}
				}
			}
			.entry-meta {
				min-width: 25rem;
				padding: 0.25rem 1.5rem;
				bottom: 0; right: 0;
				text-align: center;
			}
		}
		
	}
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.post-container {
	@include flex-items-content(center, space-between);
}

/* Footer */

.site-footer {
	position: relative;
	width: 100%;
	padding: 3rem 0 0 0;
	margin-top: 2rem;
	@include flex-items-content();
	flex-direction: column;
	
	.flex-footer {
		max-width: $base__width;
		width: 100%;
		@include flex-items-content();
		margin-bottom: 3rem;
		.footer-contents {
			width: inherit;
			@include flex-items-content(flex-start, flex-start);
			flex-wrap: wrap;
			
			& > *:nth-child(1), & > *:nth-child(2){ flex: 1;}
			& > *:nth-child(3){flex: 2;}
			h3 {
				color: $color__footer-header;
				margin: .75rem;
			}
			ul {
				color: white;
				margin: 0; padding: 0;
				list-style-type: none;
				li {
					margin: 1rem .5rem;
					i { width: 1.5rem; text-align: center;}
					a { 
						color: white;
						&:hover { text-decoration: underline; }
					 }
					&:last-child { margin-bottom: 0;}
				}
			}
			.inhabitent-logo {
				text-align: right;
				img { 
					max-width: 17.5rem;
					display: inline;
				}
			}
		}
	}
	.footer-copyright {
		padding: 1.5rem;
		a {
			font-family: $font__header;
			color: white;
			text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}