/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
	.home & { margin: 0; }
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.site-content {
	@include flex-items-content;
	flex-direction: column;
	position: relative;
	margin-top: 3.125rem;
	.home &,
	.page-template-page-about & { 
		margin-top: 0;
	}
	
	.main-content {
		@include flex-items-content(flex-start, space-between);
		@include site-width;

		.home &,
		.page-template-page-about &
		{
			@include flex-items-content();
			flex-direction: column;
			width: 100%;
			.full-width-image {
				@include flex-items-content();
			}
		}

		.content-area {
			position: relative;
			margin-right: $base__space-unit*2;
			flex: 6;
			padding-bottom: 3rem;
			
			.home & { margin: 0;}
			.page-template-page-about & {
				margin: 0;
				flex: 0 1 auto;
				width: $blog__width;	
			}
			.post-type-archive-product &,
			.tax-product-type & {
				margin: 3rem 0 0 0;
			}

			&::after {
				.blog &, 
				.page-template-default &,
				.post-template-default & {
					position: absolute;
					right: $base__space-unit*-2; top: 0;
					width: 1px;
					height: 100%;
					content: '';
					border-right: $border__solid;
				}
			}
		}		

		.widget-area {
			flex: 2;
			height: 100%;
			margin-top: 1.5rem;
			margin-left: $base__space-unit*2;
		}
	}		
}

// contents inside .site-main
.site-main {
	.home & { 
		@include flex-items-content();
		flex-direction: column;	
	}
	.post-type-archive-product &,
	.tax-product-type & {
		.page-header {
			position: relative;
			padding-bottom: 3rem;
			margin-bottom: 3rem;
			text-align: center;
			&::after {
				content:'';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				border-bottom: $border__dashed;
			}
		}
	}
}

.custom-loop {
	margin-top: 4.5rem;
	h2 { 
		font-size: 2.4rem;
		font-weight: 400;
		margin: 0 0 3.75rem 0;
		text-align: center;
	}
	.loop-item-container {
		margin-right: 1.5rem;
		flex-direction: column;	
		flex: 1;
		&:last-child { margin-right: 0; }
	}
	.loop-type {
		&-product-type {
			max-width: $base__width;
			@include flex-items-content();
			text-align: center;
			.loop-item-container {
				@include flex-items-content();
				@extend %front-page-box;
				&:hover { border-color: $color__footer-header;}	
				.product-type {
					&-icon {
						width: 4.125rem;
						height: 4.125rem;
					}
					&-description {
						max-height: 5.25rem;
					}
				}
			}
		} // end .loop-type-product-type
		&-journals {
			max-width: $base__width;
			@include flex-items-content();
			.loop-item-container {
				.journal {
					&-content {
						@extend %front-page-box;
						padding: .75rem;
						.journal-type {
							&-meta {
								margin: 0;
								font-size: .75rem;
							}
							&-title {
								height: 3.125rem;
								font-size: 1.3rem;
								margin: 0 0 1.5rem 0;
								overflow: hidden;
							}
						}
					}
				}
			}		
		} // end .loop-type-journals
		&-adventures {
			max-width: $base__width;
			height: 34.25rem;
			display: grid;
			grid-template: repeat(2, 1fr) / repeat(4, 1fr);
			grid-gap: 1.5rem;
			.loop-item-container {
				position: relative;
				margin: 0;
				
				.adventure-type {
					&-image {
						position: absolute;
						width: 100%; height: 100%;
					}
					&-title {
						position: relative;
						padding: 1.5rem;
						padding-top: 2.8rem;
						a {
							color: white;
							h3 {
								font-family: $font__main;
								font-weight: 400;
								font-size: 1.6rem;
								line-height: 1.25;
								text-transform: none;
								margin: 0;
								text-align: left;
								margin-bottom: 1rem;
								&:hover {
									color: $color__header-hover;
								}
								
							}
							button {
								color: white;
								border-color: white;
								background-color: transparent;
								&:hover, &:active, &:focus {
									border-color: $color__text-screen;
									background-color: $color__text-screen;
								}
							}
						}
					}
				}

				&:nth-child(1) {
					grid-column: 1 / span 2;
					grid-row: 1 / span 2;
					.adventure-type-title a h3 {
						font-size: 3rem;
					}
				}
				&:nth-child(2) {
					grid-column: 3 / span 2;
					grid-row: 1 / 2;
					.adventure-type-title a h3 {
						font-size: 2.4rem;
					}
				}
				&:nth-child(3) {
					grid-column: 3 / 4;
					grid-row: 2 / 3;
				}
				&:nth-child(4) {
					grid-column: 4 / 5;
					grid-row: 2 / 3;
				}
			}
		} // end .loop-type-adventures
		&-products {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1.5rem;
			.loop-item-container {
				position: relative;
				margin: 0;
				.product {
					&-image {
						position: relative;
						width:  100%;
						height: 250px;
					}
					&-information {
						@extend %front-page-box;
						padding: .75rem;
						@include flex-items-content(center, space-between);
						p { margin: 0; }
						.seperator-dots {
							flex: 1;
							position: relative;
							height: 100%;
							overflow: hidden;
							margin: 0 0.25rem;
							&:before {
								position: absolute;
								top: 50%; left: 50%;
								transform: translate(-50%, -50%);
								content: '...............................';
							}
						}
					}
				}
			}
		} // end .loop-type-products
	}

	.post-type-archive-product & {
		margin-top: 3rem;
	}

} // end .custom-loop

.hentry {
	margin: $base__space-unit*2  0 $base__space-unit*3 0;
	
	.home & { margin: 0; }
	&:last-child { margin-bottom: 0;}

	.entry-header {
		position: relative;
		.home & {
			.hero-image-front-page {
				width: 100vw; height: 100vh;
				@include flex-items-content();
			}
		}
		.blog & {
			.entry-title, .entry-meta {
				position: absolute;
				background-color: $color__text-screen;
				color: white;
			}
			.entry-title {
				max-width: 36rem;
				padding: 0.75rem 2rem;
				top: 1rem; left: 0;
				font-size: 2rem;
				letter-spacing: 2px;
				a {
					color: white;
					text-decoration: none;
					&:hover, &:focus, &:active {
						color: $color__header-hover;
					}
				}
			}
			.entry-meta {
				min-width: 25rem;
				padding: 0.25rem 1.5rem;
				bottom: 0; right: 0;
				text-align: center;
			}
		}
		
	}
}




/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Footer */

.site-footer {
	position: relative;
	width: 100%;
	padding: 3rem 0 0 0;
	@include flex-items-content();
	flex-direction: column;
	
	.flex-footer {
		max-width: $base__width;
		width: 100%;
		@include flex-items-content();
		margin-bottom: 3rem;
		.footer-contents {
			width: inherit;
			@include flex-items-content(flex-start, flex-start);
			flex-wrap: wrap;
			
			& > *:nth-child(1), & > *:nth-child(2){ flex: 1;}
			& > *:nth-child(3){flex: 2;}
			h3 {
				color: $color__footer-header;
				margin: .75rem;
			}
			ul {
				color: white;
				margin: 0; padding: 0;
				list-style-type: none;
				li {
					margin: 1rem .5rem;
					i { width: 1.5rem; text-align: center;}
					a { 
						color: white;
						&:hover { text-decoration: underline; }
					 }
					&:last-child { margin-bottom: 0;}
				}
			}
			.inhabitent-logo {
				text-align: right;
				img { 
					max-width: 17.5rem;
					display: inline;
				}
			}
		}
	}
	.footer-copyright {
		padding: 1.5rem;
		a {
			font-family: $font__header;
			color: white;
			text-transform: uppercase;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}