/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	border: 1px solid black;
	color: black;
	padding: 0.75rem $base__space-unit;
	background-color: white;
	font-family: $font__header;
	font-size: 1rem;
	text-transform: uppercase;
	
	&:hover, &:active, &:focus {
		background-color: $color__text-screen;
		border-color: $color__text-screen;
		color: white;
	}

	.loop-type-product-type & {
		@extend %btn-highlight;
	}
	
}

.button-adventures {
	@extend %btn-highlight;
	margin-top: 2rem;
	font-size: 1.2rem;
}

.social-buttons {
	.black-btn {
		padding: 0.75rem $base__space-unit 0.75rem 0.6rem;
		margin-right: 0.5rem;
		i {
			width: 2.5rem;
			text-align: center; 
		}
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

// Customize comment form
.comment-form {
	@include flex-items-content(flex-start, space-between);
	flex-wrap: wrap;
	label {
		margin-bottom: .5rem;
		font-family: $font__header;
		font-size: 1.2rem;
		display: block;
		text-transform: uppercase;
		.required {
			color: $color__footer-header;
		}
	}
	input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
		padding: .25rem;
		background-color: #f4f4f4;
		border: 1px solid #e1e1e1;
		border-radius: 0;
		line-height: $font__main_line-height;
		width: 100%;
	}
	.comment-form {
		&-comment, &-url { width: 100%; }
		&-author, &-email { width: 48%; }
		&-cookies-consent { display: none; }
	}
	
	input[type=submit] {
		@extend %btn-highlight;
	}
}

.wpcf7-form {
	@extend .comment-form;
	@include flex-items-content(flex-start, flex-start);
	flex-direction: column;
	p { 
		.hentry .entry-content & {
			width: 100%; 
			margin: $base__space-unit/2 0;
		}
	}
	input, textarea { margin-top : .5rem; }
	input[type=text], input[type=email] {width: 50%;}
}

// Customize search form
.search {
	&-form {
		label {
			@include flex-items-content(center, flex-start);

			.search {
				&-submit {
					cursor: pointer;
					padding: 0;
					border: 0 solid transparent;
					color: $color__text-screen;
					&:hover, &:active, &:focus {
						background-color: transparent;
						border-color: none;
						color: $color__link-hover;
					}
				}
				&-field {
					width: 0;
					padding: 0;
					text-transform: inherit;
					font-family: inherit;
					margin-left: 1rem;
					border: 0 solid transparent;
					transition: .4s;
					&.expand {
						padding: 5px;
						width: 12rem;
					}
				}
			}
		}
	}
}