/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	border: 1px solid black;
	color: black;
	padding: 0.75rem 1.5rem;
	background-color: white;
	font-family: $font__header;
	font-size: 1rem;
	text-transform: uppercase;
	

	&:hover, &:active, &:focus {
		background-color: $color__text-screen;
		border-color: $color__text-screen;
		color: white;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
