/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

nav a {
	color: $color__text-screen;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.site-header {
	background-color: rgba(255,255,255,.85);
	position: fixed;
	top: 0;
	width:  100%;
	@include flex-items-content;
	z-index: 100;
	&:after {
		position: absolute;
		left: 0; bottom: 0;
		width: 100%;
		height: 1px;
		content: '';
		border-bottom: $border__solid;
	}
}
.main-navigation {
	// clear: both;
	header & { height: 3.125rem; }
	@include flex-items-content(center, space-between);
	@include site-width;
	height: 100%;
	padding: .5rem;
	font-family: $font__header;
	text-transform: uppercase;

	.menu-toggle {
		display: none;
	}

	.site {
		&-logo {
			height: 100%;
			img {
				display: block;
				width: auto;
				height: 100%;
			}
		}
		&-primary-menu {
			@include flex-items-content;
			ul {
				@include flex-items-content(center, flex-start);
				list-style: none;
				margin: 0;
				padding: 0 $base__space-unit 0 0;
				li {
					padding-left: $base__space-unit;
				}
			}
		}
	}

}
