// Structure

$base__space-unit: 1.5rem;
$base__width: 1120px;
$blog__width: 800px;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #248A83;   // green brand color
$color__link-hover: #2f1339;    // purple brand color
$color__header-hover: #f0e4d1;   // yellow brand color

$color__footer-header: #d99054; // orange brand color

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;


// Typography
$font__main: 'Merriweather Web', sans-serif;
$font__main_size: 16px;
$font__main_line-height: 1.75;
$font__header: 'Novecento Sans Web', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-header: 1.25;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


// Borders
$border__solid: 1px solid #e1e1e1;
$border__dashed: 1px dashed #c8c8c8;